.toplevel_page_monetag > .wp-menu-image::before {
	content: '';
	display: inline-block;
	padding: 7px 0;
	width: 20px;
	height: 20px;
	background: url('../img/icon.png') center center no-repeat;
	background-size: contain;
}

.ads {
    display: flex;
    flex-direction: column;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	position: relative;
	min-height: 600px;
}

.ads__messages {
	position: absolute;
	right: 0;
	width: 250px;
}

.ads__messages .notice-dismiss {
	padding: 26px 9px;
}

.ads__messages .notice {
	padding: 16px 20px;
	border: 1px solid rgba(95, 95, 95, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 12px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.ads__messages .notice p, 
.ads__messages .notice {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 20px;
}

.ads__messages .notice.notice-error {
	color: #EE2B2B;
	background: #FDE7E7;
	border: 1px solid rgba(238, 43, 43, 0.3);
}

.ads__messages .notice.notice-success {
	color: #238c19;
    background: #deffe0;
    border: 1px solid rgb(41 143 32 / 30%);
}

.ads__container {
	margin: auto 0;
}

.ads a {
	color: #0080FF;
	text-decoration: none;
}

.ads__text {
	margin: 16px 0 0;
}

.ads__text,
.ads__text p {
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.ads-card {
	min-width: 520px;
    max-width: 100%;
}

.ads__box {
	background: #FFFFFF;
	border-radius: 16px;
	margin: 0 auto;
	width: 400px;
	padding: 24px;
}

.ads__box-checked {
	text-align: center;
	margin: 8px 0 24px;
}

.ads__box-title {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #000000;
}

.ads__box-content {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
}

.ads__buttons {
	margin: 16px 0 0;
}

.ads__button {
	display: inline-block;
	background: #0080FF;
	border-radius: 8px;
	border: 1px solid #0080FF;
	padding: 8px 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}

.ads__button:disabled {
	background: #F2F2F2;
	border: none;
	color: #B3B3B3;
	cursor: default;
}

.ads__button--secondary {
	background: #FFFFFF;
	color: #0080FF;
} 

.ads__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #000000;
	margin: 0 0 4px 0;
}

.ads__description {
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #000000;
}

.ads__option-logged_in_disabled {
	margin: 20px auto;
	text-align: center;
}

.ads__cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.ads__card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fff;
	height: 216px;
	width: 150px;
	left: 0px;
	top: 0px;
	border-radius: 16px;
	padding: 24px 16px 16px 16px;
	margin: 20px 4px 0 4px;
}

.ads__card-title {
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	padding: 16px 0 4px;
}

.ads__card-description {
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	color: #808080;
	flex-grow: 1;
}

.ads__card-image {
	margin: 0;
	height: 80px;
	min-width: 120px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: contain;
}

.ads__card-image--onclick {
	background-image: url('../img/format-onclick.png');
}

.ads__card-image--in_page_push {
	background-image: url('../img/format-in_page_push.png');
}

.ads__card-image--interstitial {
	background-image: url('../img/format-interstitial.png');
}

.ads__card-image--vignette {
	background-image: url('../img/format-vignette.png');
}

.ads__card-image--nativeads {
	background-image: url('../img/format-nativeads.png');
}

.ads__group-action {
	display: none;
	justify-self: flex-end;
    flex-direction: row;
    justify-content: space-around;
}

.ads__group-action--active {
	display: flex;
}

.ads__action {
	color: #0080FF;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
}

.ads__icon {
	display: inline-block;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: contain;
}

.ads__icon--arrow {
	height: 15px;
	width: 15px;
	background-image: url('../img/icon-arrow.png');
}

.ads__icon--checked {
	height: 22px;
	width: 30px;
	background-image: url('../img/icon-checked.png');
}

.ads__icon--logout {
	height: 15px;
	width: 15px;
	background-image: url('../img/icon-logout.png');
}

.ads__icon--pencil {
	height: 12px;
	width: 12px;
	background-image: url('../img/icon-pencil.png');
}

.ads__icon--select {
	height: 16px;
	width: 16px;
	background-image: url('../img/icon-select.png');
}

.ads__icon--profile {
	height: 14px;
    width: 14px;
    background-image: url(../img/icon-profile.png);
    vertical-align: top;
    padding-top: 1px;
}

.ads__icon--plus {
	height: 12px;
	width: 12px;
	vertical-align: middle;
	background-image: url('../img/icon-plus.png');
}

.ads__footer {
    text-align: center;
    margin-left: 160px;
    height: 40px;
    bottom: 30px;
    left: 0;
    right: 0;
    position: absolute;
}

.ads__footer-link {
	color: #0080FF;
	text-decoration: none;
	padding: 0 8px;
}

.ads__modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.ads__modal-overlay {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: .2;
}
	
.ads__modal-container {
	z-index: 11;
	background: #FFFFFF;
	box-shadow: 0px 200px 80px rgba(0, 0, 0, 0.01), 0px 113px 68px rgba(0, 0, 0, 0.05), 0px 50px 50px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	padding: 24px;
	min-width: 330px;
}

.ads__modal-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 23px;
}

.ads__modal-label {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}

select.ads__modal-select,
input.ads__modal-input {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

select.ads__modal-select {
	background: #fff;
	border: 1px solid #ccc;
	padding: 6px 6px 6px 12px;
	border-radius: 8px;
	background: #FFFFFF;
	width: 100%;
	margin-bottom: 8px;
}

input.ads__modal-input {
	padding: 6px 6px 6px 12px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 4px rgba(0, 128, 255, 0.3);
	border-radius: 8px;
	width: 100%;
	margin-bottom: 8px;
}

.ads__modal-options {
	margin-top: 23px;
}

.ads__modal-option {
	margin: 8px 0;
}

input.ads__modal-input:focus {
	border: 1px solid #0080FF;
}

.ads__modal-buttons {
	margin-top: 32px;
}

.ads__modal-tabs {
	background: #F2F2F2;
	border-radius: 8px;
	padding: 4px;
	margin: 8px 0;
	display: inline-flex;
}

.ads__modal-tab {
	padding: 4px 8px;
	border-radius: 4px;
	color: #808080;
	cursor: pointer;
}

.ads__modal-tab--active {
	color: #000;
	background: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.ads__modal-content-tab {
	display: none;
}

.ads__modal-content-tab--active {
	display: block;
}

.ads__switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
  
.ads__switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
  
.ads__switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;

	border-radius: 34px;
}
  
.ads__switch-slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .ads__switch-slider {
	background-color: #0080FF;
}

input:focus + .ads__switch-slider {
	box-shadow: 0 0 1px #0080FF;
}
  
input:checked + .ads__switch-slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}

@media only screen and (max-width: 960px) {
	.ads__footer {
    	margin-left: 36px;
	}
}
